<div class="container">
    <h1 style="text-align: center; color:blue;">{{title}}</h1>
</div>

<br />

<div class="container">
    <h3>{{subtitle}}</h3>
</div>

<div class="container">
    <div class="row">
        <div class="container">
            <div *ngFor="let articulo of articulos; let i = index">
                {{articulo.cantidad}} {{articulo.nombre}}
                <button mat-fab class="btn btn-light" style="border-radius: 20%; border-color: black; margin: 5px;"
                    type="submit" (click)="eliminarArticulo(i)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>

<br />

<div class="container">
    <button type="submit" class="btn btn-danger" (click)="eliminarTodos()">Eliminar
        todo</button>
</div>

<br />
<br />

<div class="container">
    <form class="form-group row">
        <div class="form-group col-md-2">
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" id="nombre" placeholder="Articulo" class="form-control"
                [(ngModel)]="cuadroNombre">
        </div>
        <div class="form-group col-md-1">
            <label for="nombre">Cantidad:</label>
            <input type="number" name="cantidad" id="cantidad" placeholder="Cantidad" class="form-control"
                [(ngModel)]="cuadroCantidad">
        </div>
        <div class="form-group col-md-1" style="margin-top: 20px;">
            <button type="submit" class="btn btn-primary" (click)="agregarArticulo()">Agregar</button>
        </div>
    </form>
</div>